.btn-color{
  background: #406595;
  color: #fff;
}
.btn-color:hover{
  background-color:#406595 ;
  color:black;
}
.text-color{
  color: #406595;

}
.center{
  display: flex;
  justify-content: center;
  align-content: center;

}
.body{
  background: #f4f7fa;
}
