<div class="body">
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center
              min-vh-100">
      <div class="col-lg-5 col-md-7 py-8 py-xl-0">
        <div class="card shadow">
          <div class="card-body p-6">
            <img src="./assets/images/dat.png"
                 alt="login form" class="img-fluid animate__animated animate__heartBeat" style="border-radius: 1rem 0 0 1rem;"/>
            <div class="mb-4">

              <h2 class="mb-1 fw-bold text-color">Reset Password</h2>
              <p class="text-muted fs-6">Fill the form to reset your password.
              </p>
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="password" class="form-label text-color">New Password</label>
                <div class="form-outline mb-4">
                  <input type="password" class="form-control" [(ngModel)]="user.password"  formControlName="password" id="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors}" >
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors?.['required']">Password is required</div>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label text-color">Confirm Password</label>
                <div class="form-outline mb-4">
                  <input type="password" class="form-control" [(ngModel)]="user.password"  formControlName="password" id="cfmPassword" [ngClass]="{ 'is-invalid': submitted && f.password.errors}" >
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors?.['required']">Password is required</div>
                  </div>
                </div>
              </div>
              <div class="mb-3 d-grid">
                <button type="submit" class="btn btn-color btn-lg btn-block">Reset Password</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
