<app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>

<div class="body" [ngClass]="getBodyClass()">
  <h1 style="color:#406595" class="text-color text-center fw-bold">Your Friends</h1>

  <div class="container d-flex flex-column" *ngFor="let user of users">
    <div class="card mt-3" *ngIf="user.name!=currentUser">
      <div class="card-body">
        <p class="card-text"><span style="color:#406595"> Name :</span> <br> {{user.name}}</p>
        <p class="card-text"><span style="color:#406595"> User Name :</span> <br>  {{user.userName}}</p>
        <p class="card-text"><span style="color:#406595"> Email :</span> <br> {{user.email}}</p>
        <p class="card-text"><span style="color:#406595"> Member Since :</span>  <br> {{user.createAt}}</p>
      </div>
    </div>

  </div>

</div>
