<app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>

<div class="body" [ngClass]="getBodyClass()">
  <h1 class="text-color">Your Friends</h1>

  <div class="container d-flex flex-column">
    <mat-card class="mt-3"><span class="fs-6">Harry</span></mat-card>
    <mat-card class="mt-3"><span class="fs-6">James</span></mat-card>
    <mat-card class="mt-3"><span class="fs-6">Puppy</span></mat-card>
    <mat-card class="mt-3"><span class="fs-6">Dasy</span></mat-card>
  </div>

</div>
