<div class="modal-lg">
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
  <i class="bi bi-pen fs-4 mx-2"></i>
  <i class="bi bi-trash fs-4 mx-2"></i>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-9">
      <form>
        <div class="form-group">
          <label for="exampleFormControlFile"><span class="text-color fs-6"> <i class="bi bi-images"></i>Add Image</span></label>
          <input type="file" class="form-control-file mx-2" id="exampleFormControlFile">
        </div>
      </form>
      <form>
        <!-- checkbox start -->
        <div class="text-start mt-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              To Sleep
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              To Code
            </label>
          </div>
        </div>
        <!-- checkbox end -->
        <div class="form-group">
          <label for="exampleFormControlTextarea1"><span class="text-color fs-6"> <i class="bi bi-file-earmark mx-2"></i> Description</span></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlFile1"><span class="text-color fs-6"> <i class="bi bi-file-plus"></i>Attachment</span></label>
          <br>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <div class="form-group mt-2">
          <span class="text-color">Start Date :</span>
          <input type="date">
          <span class="text-color mx-3">End Date :</span>
          <input type="date">
        </div>
        <button type="submit" class="btn btn-color mt-3 fs-6 my-auto">SUBMIT</button>
      </form>
    </div>
    <div class="col-md-3">
      <h2 class="text-color fw-bold">Actions</h2>
      <div class="d-block">
        <button class="btn btn-color btn-lg btn-block"> <i class="bi bi-people mx-2"></i>Members</button>
        <button class="btn btn-color btn-lg btn-block mt-2"> <i class="bi bi-plus mx-2"></i>Add Task</button>
      </div>
    </div>
    <hr class="mt-3">
    <div class="comment">
      <textarea class="form-control"></textarea>
      <button class="btn btn-color mt-2">Comment</button>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Close
  </button>
</div>
</div>
