<h3 class="text-color text-start fs-3 mt-3">Personal Workspace</h3>
<!-- board -->
<div class="board-div">
<div class="container d-flex flex-wrap align-items-center">

  <div class="list-menu" *ngFor="let item of workspaces | filter:searchTerm"  (dblclick)="goToBoard(item.id)">
    <div *ngIf="workspaces.length==0">
      There is no  personal workspace dude
    </div>
<div *ngIf="userEmail==item.createdBy">
    <a  class="list-menu-item">
      <div class="m-2 card">
        <div class="col-12">
          <input class="star d-flex justify-content-start" type="checkbox" title="bookmark page" [checked]="checkWorkspace(item)" (change)="changed($event,item.id)">
          <br/>
          <h3 class="text-color">{{item.name}}</h3>
          <p class="text-dark text-start">{{item.description}}</p>
        </div>
        <div class="col-3 mx-3 d-flex">
          <i class="bi bi-pencil-square fs-6" (click)="setWorkspaceDetails(item)"  style="color:#406595" data-bs-toggle="modal" data-bs-target="#editWorkspaceModal"></i>
          <i class="bi bi-trash fs-6 mx-3" style="color:#406595" (click)="deleteWorkspace(item.id)"></i>
        </div>
      </div>
    </a>
</div>
  </div>
</div>
</div>
