<div class="card d-flex justify-content-between p-3 flex-row mt-3" (click)="setTaskDetails(card);openModal(taskActivity);getAllActivities();getFilebyId(card)" draggable="true" (dragend)="dragend($event)" (dragstart)="dragStart($event)" id="{{card.id}}">
  <div class="d-inline text-center">
  <div>
    {{card.description}}
  </div>
  <div *ngIf="card.profile!=null">
    <img [src]="pict" style="width:250px;height:175px;" />
  </div>

  <div *ngIf="card.startDate!=null && card.endDate!=null">
    <p class="mt-3 bg-white"> {{card.startDate}} - {{card.endDate}}</p>
  </div>
    <span>Process is in <span class="text-primary">{{percentage}} %</span></span>
  </div>
  <!-- activity ng modal start -->
  <ng-template #taskActivity>
    <div class="modal-header">
      <h2 class="modal-title text-color fw-bold">{{taskDesc}}</h2>
      <div *ngIf="title=='ToDo'" >
        <i class="bi bi-pencil-square fs-6" (click)="setTaskDetails(card);openModal(edit)" ></i>
      </div>
      <div *ngIf="title=='Doing'">
        <i class="bi bi-pencil-square fs-6" (click)="setTaskDetails(card);openModal(edit)" ></i>
      </div>
      <div *ngIf="title=='Done'">
        <i class="bi bi-x-square fs-6 mx-3"  (click)="delete(card.id)"></i>
      </div>
      <div *ngIf="title!='ToDo' && title!='Doing' && title!='Done'">
        <i class="bi bi-pencil-square fs-6" (click)="setTaskDetails(card);openModal(edit)" ></i>
        <i class="bi bi-x-square fs-6 mx-3" (click)="delete(card.id)" ></i>
      </div>
      <button type="button" class="close pull-right" aria-label="Close" (dblclick)="modalRef.hide()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-9">
          <form>
            <div class="form-group">
              <label for="exampleFormControlFile"><span class="text-color fs-6"> <i class="bi bi-images"></i>Add Image</span></label>
              <input type="file" class="form-control-file mx-2" id="exampleFormControlFile"  (change)="selectpic($event)" accept="image/*">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1"><span class="text-color fs-6"> <i class="bi bi-file-earmark mx-2"></i> Description</span></label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="taskDetails.content" name="content"></textarea>
            </div>

            <div class="form-group mt-2">
              <span class="text-color">Start Date :</span>
              <input type="date" [(ngModel)]="taskDetails.startDate" name="startDate" id="startDate">
              <span class="text-color mx-3">End Date :</span>
              <input type="date"  [(ngModel)]="taskDetails.endDate " name="endDate" id="endDate"  >
                  <div *ngIf="error.isError" class="alert alert-danger">
                      {{ error.errorMessage }}
                  </div>
            </div>
            <button type="submit" class="btn btn-color mt-3 fs-6 my-auto" (click)="updateTask()">SUBMIT</button>
          </form>
          <hr>
          <!-- checkbox start -->
          <div class="text-start mt-3">
            <h2 class="text-color">Activities</h2>
            <div class="form-check">
              <div class="d-flex gap-1"  *ngFor="let activity of activities" >

                <input type="checkbox"  class="form-check-input"  name="name" [checked]="checkActivity(activity)" (change)="changed($event,activity)">
                {{activity.name}}
              </div>
            </div>
          </div>
          <!-- checkbox end -->
          <hr>
          <!-- attachment start -->
          <div class="form-group">
            <label for="exampleFormControlFile1"><span class="text-color fs-6"> <i class="bi bi-file-plus"></i>Attachment</span></label>
            <br>
            <input type="file" class="form-control-file" id="exampleFormControlFile1"  (change)="selectFile($event);upload()">
          </div>
          <div *ngIf="fileInfos">
            <div class="card mt-3">
              <div class="card-header">List of Files</div>
              <ul
                class="list-group list-group-flush"
                *ngFor="let file of fileInfos | async"
              >
                <li class="list-group-item">
                  <a href="http://localhost:8080/api/v1/attachment/files/{{ file.id }}" >{{ file.name }}</a>
                </li>
              </ul>
            </div>

          </div>
          <!-- attachment end -->
          <hr>
          <div *ngIf="logs.length!=0">
            <div class="card mt-3">
              <div class="card-header">Logs</div>
              <div  *ngFor="let log of logs | paginate: { itemsPerPage: 10, currentPage: p }">
                <span>{{log.message}}</span>
              </div>
            </div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
        <div class="col-md-3">
          <h2 class="text-color fw-bold">Actions</h2>
          <div class="d-block">
            <button class="btn btn-color btn-lg btn-block" (click)="openModal(invite)"> <i class="bi bi-people mx-2"></i>Members</button>
            <button class="btn btn-color btn-lg btn-block mt-2" (click)="openModal(add)"> <i class="bi bi-plus mx-2"></i>Add Task</button>
          </div>
        </div>

        <hr class="mt-3">
        <div class="comment">
          <comments [currentUserId]="userId"></comments>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef.hide();">
        Close
      </button>
    </div>
  </ng-template>
  <!-- activity ng modal end -->
  <!-- edit task desc ng modal start -->
  <ng-template #edit>
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="editModalLabel">Edit Task</h1>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <input  [(ngModel)]="updateDescription" [value]="taskDetails.description" class="form-control" name="description">
          <div *ngIf="updateDescription==''"><span class="text-danger">Description not to be null</span></div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-color" (click)="updateTaskDescription()" [disabled]="!updateDescription">Update Task</button>
    </div>
  </ng-template>
  <!-- edit task desc ng modal end -->
  <!-- invite member ng modal box start -->
  <ng-template #invite>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="invite" class="form-label">Invite people</label>
          <input type="text" class="form-control" [(ngModel)]="email" name="email" id="invite">
        </div>
        <button type="button" class="btn btn-color d-flex mx-auto" (click)="onInviteSubmit()" [disabled]="!email">Invite</button>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>
  <!-- invite member ng modal box end -->
  <!-- add new activity modal start -->
  <ng-template #add>
    <div class="modal-header">
      <h1 class="modal-title fs-5">Add Task</h1>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <input [(ngModel)]="activity.name"  placeholder="enter task name...." class="form-control" name="name" (keyup.enter)="addActivity()">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-color"  [disabled]="!activity.name" (click)="addActivity()">Add New Task</button>
    </div>
  </ng-template>
  <!-- add new activity modal start -->
</div>
