.body {
  width: calc(100% - 5rem);
  height: 100vh;
  margin-left: 5rem;
  position: relative;
  top: 0;
  transition: all 0.5s ease;
  background: #f4f7fa;
  padding: 3rem;
  text-align: center;
}
.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
}
.body-md-screen {
  width: calc(100% - 10rem);
  margin-left: 10rem;
}

.text-color{
  color: #406595;
}
.btn-color{
  background: #406595;
  color: #fff;
}
.column{
  float: left;
  width:25%;
  padding: 0 10px;
}
@media only screen and (max-width: 600px) {
  .column{
    width:100%;
  }
  .frm-control{
    margin-top: 50px;
    border-radius: 10px;
    width: 250px;
    margin-left: 135px;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}
@media only screen and (max-width: 775px) {
  .column{
    width:75%;
  }
}
@media only screen and (min-width: 1200px) {
  .board-div{
    position: absolute;
    right:175px;
    left:175px;
  }
}
.card:hover{
  transform: scale(1.1);
  transition: all linear 200ms;
  z-index: 1;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  cursor: pointer;
}

.row{
  margin:0 -5px;
}
.row:after{
  content:"";
  display:table;
  clear: both;
}
.align{
  left:10px;
}
.bg-color{
  background: #406595;
}
.card{
  height:250px;
}
.frm-control{
  border-radius: 10px;
  width: 250px;
  margin-left: 135px;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.star {
  visibility:hidden;
  font-size:30px;
  cursor:pointer;
}
.star:before {
  content: "\2606";
  position: absolute;
  visibility:visible;
  color:#406595;

}
.star:checked:before {
  content: "\2605";
  position: absolute;
  color:#406595;
}
.card{
  border-radius: 8px;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  transition: all linear 200ms;
}
