<ngx-spinner size="medium"
             color="#fff"
             type="ball-scale-multiple" [fullScreen]="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>

<div class="body" [ngClass]="getBodyClass()">

  <div class="text-end">
    <button type="button" class="btn btn-color me-3 my-2" (click)="openModal(invite)">
      Invite Member  <i class="bi bi-person-plus"></i>
    </button>
    <button type="button" class="btn btn-color" (click)="openModal(create)">
      Create New Board <i class="bi bi-clipboard"></i>
    </button>
  </div>
  <div class="form-group">
    <input type="text" class="frm-control"  placeholder="search board..." [(ngModel)]="searchTerm" >
  </div>
  <div *ngIf="isDataAvailable==false">
    <app-no-data></app-no-data>
  </div>
  <div *ngIf="isDataAvailable">

    <h3 class="text-color text-start fs-3 mt-3">Personal Board</h3>

    <!-- board -->
    <div>
      <div class="container d-flex flex-wrap align-items-center">

        <div class="list-menu mt-5" *ngFor="let item of boards | filter:searchTerm;let i=index"  (dblclick)="goTotaskLists(item.id)">
          <div *ngFor="let count of countOfTaskAndMember;let j=index">

            <div *ngIf="i==j">
              <div *ngIf="userEmail==item.createdBy">
                <a  class="list-menu-item">
                  <div class="m-2 card">
                    <div class="col-12">
                      <input class="star mt-2 d-flex justify-content-start" type="checkbox" title="bookmark page" [checked]="checkBoard(item)" (change)="changed($event,item.id)">
                      <br/>

                      <h1 class="text-color">{{item.name}}</h1>
                      <p class="text-start">{{item.description}}</p>
                      <p class="fs-6 text-end" style="margin-top: 45px"><i class='bx bxs-user-circle fs-5'>{{count.countOfMember}}</i>  <i class='bx bx-task fs-5 mx-2' >{{count.countOfTask}}</i> </p>
                    </div>
                    <div class="col-3 mx-3 d-flex">
                      <i class="bi bi-pencil-square fs-6" (click)="setBoardDetails(item);openModal(edit)"  style="color:#406595" ></i>
                      <i class="bi bi-trash fs-6 mx-3" style="color:#406595" (click)="deleteBoard(item.id)"></i>
                    </div>

                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- board end -->
      </div>
    </div>
    <hr/>
  <!-- shared board -->
    <h3 class="text-color text-start fs-3 mt-3">Shared Board</h3>

    <!-- board -->
    <div class="board-div">
      <div class="container d-flex flex-wrap align-items-center">

        <div class="list-menu mt-5" *ngFor="let item of boards | filter:searchTerm;let i=index"  (dblclick)="goTotaskLists(item.id)">
          <div *ngFor="let count of countOfTaskAndMember;let j=index">
            <div *ngIf="i==j">
              <div *ngIf="userEmail!=item.createdBy">
                <a  class="list-menu-item">
                  <div class="m-2 card">
                    <div class="col-12">
                      <input class="star mt-2 d-flex justify-content-start" type="checkbox" title="bookmark page" [checked]="checkBoard(item)" (change)="changed($event,item.id)">
                      <br/>

                      <h1 class="text-color">{{item.name}}</h1>
                      <p class="text-start">{{item.description}}</p>
                      <p class="fs-6 text-end" style="margin-top: 45px"><i class='bx bxs-user-circle fs-5'>{{count.countOfMember}}</i>  <i class='bx bx-task fs-5 mx-2' >{{count.countOfTask}}</i> </p>
                    </div>
                    <div class="col-3 mx-3 d-flex">
                      <i class="bi bi-pencil-square fs-6" (click)="setBoardDetails(item);openModal(edit)"  style="color:#406595" ></i>
                      <i class="bi bi-trash fs-6 mx-3" style="color:#406595" (click)="deleteBoard(item.id)"></i>
                    </div>

                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- board end -->
      </div>
    </div>
  </div>


  <!-- invite member ng modal box start -->
  <ng-template #invite>
    <div class="modal-header">
      <h2 class="modal-title text-color fw-bold">Invite Members</h2>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="inviteForm" (ngSubmit)="onInviteSubmit()">

        <div class="mb-3">
          <label for="invite" class="form-label">Invite people</label>
          <input type="text" class="form-control" [(ngModel)]="invitemember.email" formControlName="email"  id="invite">
        </div>
        <button type="submit" class="btn btn-color d-flex mx-auto">Invite</button>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>
  <!-- invite member ng modal box end -->
  <!-- create board ng modal box start -->
  <ng-template #create>
    <div class="modal-header">
      <h2 class="modal-title text-color fw-bold">New Board</h2>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
        <div class="mb-3">
          <label for="names" class="form-label">Board Name</label>
          <input type="text" class="form-control" [(ngModel)]="board.name"   formControlName="name" id="names" [ngClass]="{ 'is-invalid': submitted && f.name.errors}" >
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors?.['required']">Name is required</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Description</label>
          <textarea class="form-control" [(ngModel)]="board.description" formControlName="desc"  rows="3" [ngClass]="{ 'is-invalid': submitted && f.desc.errors}" ></textarea>
          <div *ngIf="submitted && f.desc.errors" class="invalid-feedback">
            <div>Description is required</div>

          </div>
        </div>
        <button type="submit" class="btn btn-color d-flex mx-auto">Create</button>
      </form>
    </div>
    <div class="modal-footer">

    </div>
  </ng-template>
  <!-- create board ng modal box end -->
<!-- edit board ng modal box start -->
  <ng-template #edit>
    <div class="modal-header">
      <h2 class="modal-title text-color fw-bold">Edit Board</h2>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <input [(ngModel)]="boardName" class="form-control" id="editDescription" name="boardDesc">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-color" (click)="updateBoardDescription()">Update Board</button>
    </div>
  </ng-template>
  <!-- edit board ng modal box end -->
</div>
