.bg-color{
  background-color: #406595;
}
.btn-color{
  background-color: #406596;
  color:#fff;
  width: 250px;
}
.text-color{
  color:#406595;
}
.column{
  float: left;
  width:25%;
  padding: 0 10px;
}
@media only screen and (max-width: 600px) {
  .column{
    width:100%;
  }

}
@media only screen and (max-width: 775px) {
  .column{
    width:75%;
  }
}
@media only screen and (min-width: 1200px) {
  .board-div{
    position: absolute;
    right:175px;
    left:175px;
  }
}

.row{
  margin:0 -5px;
}
.row:after{
  content:"";
  display:table;
  clear: both;
}
