.list {
  background:#fff;
  width: 350px;
  padding: 6px;
  margin: 5px;
  display: inline-block;

}
.list__title {
  margin: 0;
  padding: 16px 0;
  background: #406595;
  color:#fff;
  font-size: 20px;
}
.list a {
  width: 100%;
  display: block;
  text-decoration: none;
  margin-top: 10px;
}

input{
  width: 300px;
  padding: 10px;
  border: 1px solid #406595;
  outline: 0;
  background: #fff;
  box-shadow:none;
}
.btn-color{
  background-color: #406595;
  color:#fff
}