<app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>

<div class="body" [ngClass]="getBodyClass()">
  <div class="container w-75 h-75 d-flex mx-auto mt-5">
    <div class="row">
      <div class="col-md-5 mt-5">
        <img src="./assets/images/pikachu.png"  class="img-fluid rounded-circle mx-5" alt="profile pic" width="300px" height="300px">
        <button class="btn btn-primary mx-auto"> <i class="bi bi-camera-fill"></i> Upload Profile</button>
      </div>
      <div class="col-md-7 mt-5">
        <form class="mx-5">
          <div class="form-outline mb-4">
            <label class="form-label" for="name">Name</label>
            <input type="text" class="form-control" id="name" value="Pikachu">
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="uname">User Name</label>
            <input type="text" class="form-control" id="uname" value="pika">
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="email">Email address</label>
            <input type="email" class="form-control" id="email" value="pikachu@gmail.com" readonly>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="createdAt">Created At</label>
            <input type="text" class="form-control"  id="createdAt" value="11/01/2001" readonly>
          </div>
          <button type="submit" class="btn btn-color btn-lg btn-block">Update Profile</button>
        </form>

      </div>
    </div>

  </div>
</div>

