@import "@fullcalendar/common/main.css";
@import "@fullcalendar/daygrid/main.css";
@import '~ngx-toastr/toastr.css';

body{
  background: #f4f7fa;
}
.row{
  margin:0 -5px;
}
.row:after{
  content:'';
  display: table;
  clear: both;
}
/* You can add global styles to this file, and also import other style files */
