<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">

<app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>

<div class="body" [ngClass]="getBodyClass()">
<h1 class="text-color">Hello! Happy {{today}} {{username}}</h1>
  <button type="button" class="btn btn-color me-5 btn-create" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Create New Workspace
  </button>
  <div class="form-group">
    <input type="text" class="frm-control"  placeholder="search workspace..." [(ngModel)]="searchTerm" >
  </div>
  <div *ngIf="workspaces.length==0">
    <app-no-data></app-no-data>
  </div>
  <div *ngIf="workspaces.length!=0">
  <app-personal-workspace></app-personal-workspace>
  <hr/>
  <app-shared-workspace></app-shared-workspace>
  </div>
  <!-- workspace modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-color fw-bold" id="exampleModalLabel">New Workspace</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="names" class="form-label">Workspace Name</label>
              <input type="text" class="form-control"  [(ngModel)]="workspace.name"   formControlName="name" id="names" [ngClass]="{ 'is-invalid': submitted && f.name.errors}" >
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors?.['required']">Name is required</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="descs" class="form-label">Description</label>
              <textarea class="form-control" id="descs" [(ngModel)]="workspace.description" formControlName="desc"  rows="3" [ngClass]="{ 'is-invalid': submitted && f.desc.errors}" ></textarea>
              <div *ngIf="submitted && f.desc.errors" class="invalid-feedback">
                <div>Description is required</div>

              </div>
            </div>
            <button type="submit" class="btn btn-color d-flex mx-auto">Create</button>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- workspace modal -->

  <!-- edit modal starts -->
  <div class="modal fade" id="editWorkspaceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="EditBoardModalLabel">Edit Workspace</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <input #updatedescription [value]="getWorkspaceDetails()" class="form-control" id="editDescription" name="boardDesc">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-color" (click)="updateWorkspaceDescription()">Update Workspace</button>
        </div>
      </div>
    </div>
  </div>
  <!-- edit modal ends -->
</div>
