<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">

<app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>

<div class="body" [ngClass]="getBodyClass()">
<h1 class="text-color">Hello! Happy {{today}} {{username}}</h1>
  <button type="button" class="btn btn-color me-5 btn-create" (click)="openModal(create)">
    Create New Workspace
  </button>
  <div class="form-group">
    <input type="text" class="frm-control"  placeholder="search workspace..." [(ngModel)]="searchTerm" >
  </div>
  <div *ngIf="isDataAvailable==false">
    <app-no-data></app-no-data>
  </div>
  <div *ngIf="isDataAvailable" >
    <h3 class="text-color text-start fs-3 mt-3">Personal Workspace</h3>
    <!-- board -->
    <div>
      <div class="container d-flex flex-wrap align-items-center">

        <div class="list-menu" *ngFor="let item of workspaces | filter:searchTerm"  (dblclick)="goToBoard(item.id)">

          <div *ngIf="userEmail==item.createdBy">
            <a  class="list-menu-item">
              <div class="m-2 card">
                <div class="col-12">
                  <input class="star d-flex justify-content-start" type="checkbox" title="bookmark page" [checked]="checkWorkspace(item)" (change)="changed($event,item.id)">
                  <br/>
                  <h3 class="text-color">{{item.name}}</h3>
                  <p class="text-dark text-start">{{item.description}}</p>
                </div>
                <div class="col-3 mx-3 d-flex">
                  <i class="bi bi-pencil-square fs-6" (click)="setWorkspaceDetails(item);openModal(edit)"  style="color:#406595"></i>
                  <i class="bi bi-trash fs-6 mx-3" style="color:#406595" (click)="deleteWorkspace(item.id)"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
<hr/>
    <h3 class="text-color text-start fs-3 mt-3">Shared Workspace</h3>
    <!-- board -->
    <div>
      <div class="container d-flex flex-wrap align-items-center">

        <div class="list-menu" *ngFor="let item of workspaces | filter:searchTerm"  (dblclick)="goToBoard(item.id)">

          <div *ngIf="userEmail!=item.createdBy">
            <a  class="list-menu-item">
              <div class="m-2 card">
                <div class="col-12">
                  <input class="star d-flex justify-content-start" type="checkbox" title="bookmark page" [checked]="checkWorkspace(item)" (change)="changed($event,item.id)">
                  <br/>
                  <h3 class="text-color">{{item.name}}</h3>
                  <p class="text-dark text-start">{{item.description}}</p>
                </div>
                <div class="col-3 mx-3 d-flex">
                  <i class="bi bi-pencil-square fs-6" (click)="setWorkspaceDetails(item);openModal(edit)"  style="color:#406595" ></i>
                  <i class="bi bi-trash fs-6 mx-3" style="color:#406595" (click)="deleteWorkspace(item.id)"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- workspace create ng modal start -->
  <ng-template #create>
    <div class="modal-header">
      <h2 class="modal-title text-color fw-bold">New Workspace</h2>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="names" class="form-label">Workspace Name</label>
          <input type="text" class="form-control"  [(ngModel)]="workspace.name"   formControlName="name" id="names" [ngClass]="{ 'is-invalid': submitted && f.name.errors}" >
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors?.['required']">Name is required</div>
          </div>
        </div>
        <div class="mb-3">
          <label  class="form-label">Description</label>
          <textarea class="form-control"  [(ngModel)]="workspace.description" formControlName="desc"  rows="3" [ngClass]="{ 'is-invalid': submitted && f.desc.errors}" ></textarea>
          <div *ngIf="submitted && f.desc.errors" class="invalid-feedback">
            <div>Description is required</div>

          </div>
        </div>
        <button type="submit" class="btn btn-color d-flex mx-auto">Create</button>
      </form>
    </div>
    <div class="modal-footer">

    </div>
  </ng-template>
  <!-- workspace create ng modal end -->
  <!-- edit workspace ng modal start -->
  <ng-template #edit>
    <div class="modal-header">
      <h2 class="modal-title text-color fw-bold">Edit Workspace</h2>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label>Workspace Name</label>
          <input [(ngModel)]="workspaceName" [value]="getWorkspaceDetails()" class="form-control" name="boardDesc">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-color" (click)="updateWorkspaceDescription()">Update Workspace</button>
    </div>
  </ng-template>
  <!-- edit workspace ng modal end -->
</div>
