<app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>

<div class="body" [ngClass]="getBodyClass()">


  <button type="button" class="btn btn-primary me-5 btn-create" data-bs-toggle="modal" data-bs-target="#exampleModal">
   Create New Workspace
  </button>



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="exampleModalLabel">New Workspace</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="name" class="form-label">Workspace Name</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">Description</label>
              <textarea class="form-control" id="desc" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="invite" class="form-label">Invite people <span class="text-danger">(optional)</span></label>
              <input type="text" class="form-control" id="invite">
            </div>
            <button type="button" class="btn btn-primary d-flex mx-auto">Create</button>
          </form>
        </div>
        <div class="modal-footer">

      </div>
    </div>
  </div>

</div>







