<div class="body">
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-xl-10">
      <div class="card" style="border-radius: 1rem;">
        <div class="row g-0">
          <div class="col-md-6 col-lg-5 mt-5 mb-5">

            <div class="d-flex flex-column justify-content-center" style="height:100%">
              <img src="./assets/images/dat.png"
                   alt="login form" class="img-fluid d-block mx-auto animate__animated animate__heartBeat" style="border-radius: 1rem 0 0 1rem;"/>

              <span class="h3 fw-bold text-color d-block mx-auto" style="z-index: 1;">DIR ACE Technology</span>

            </div>
          </div>
          <div class="col-md-6 col-lg-7 d-flex align-items-center order-md-first">
            <div class="card-body p-4 p-lg-5 text-color">

              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="d-flex align-items-center mb-3 pb-1">
                  <span class="h1 fw-bold text-color">Bulletin Board System</span>
                </div>

                <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign up your account</h3>
                <div class="form-outline mb-4">
                  <label class="form-label" for="names">Name</label>

                  <input type="text" class="form-control" [(ngModel)]="user.name"   formControlName="name" id="names" [ngClass]="{ 'is-invalid': submitted && f.name.errors}">
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors?.['required']">Name is required</div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="email">Email address</label>
                  <input type="email" class="form-control" [(ngModel)]="user.email"  formControlName="email" id="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors}" email="true"  >
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors?.['required']">Email is required</div>
                    <div *ngIf="f.email.errors.email">
                      Please enter a valid email.
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="password">Password</label>
                  <input type="password" class="form-control" [(ngModel)]="user.password"  formControlName="password" id="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors}" [minlength]="8">
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors?.['required']">Password is required</div>
                    <div *ngIf="f.password.errors?.['minlength']">
                      Password must be at least 8 characters long.
                    </div>
                  </div>
                </div>

                <div class="pt-1 mb-4">
                  <button type="submit" class="btn btn-color btn-lg btn-block">Sign Up</button>
                </div>
                <span>Already have an account? <a routerLink="/login" class="text-muted">Sign in</a></span>


              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
